body {
  background-color: #1f2532;
  margin: 0;
  padding-bottom: 100px;
}
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  background-color: #1f2532;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  background-color: #ebebeb;
  color: #000000;
}
nav li:first-child {
  margin-right: 10px;
  margin-left: 20px;

 }

nav li:first-child img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

main {
  margin-top: 90px;
  display: flex;
  align-items: center;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}

.contenido {
  background-color: #e0e9f0;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  flex: 1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video {
  margin: 20px;
  width: 35%;
}
footer {
  background-color: #1f2532;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  padding-left: 16%;
  padding-right: 16%;
  margin-inline: 100px; 
  /*
  podria cambiar un par de cosas añadiendole esto y quitando la posicion 
  fixed para que el footer no se mueva y se quede siempre abajo. 
  Tendria que quitar el position fixed también.
  z-index: 1000;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  */
}

.redes-sociales a {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
  text-decoration: none;
  margin: auto;
}

.redes-sociales a:hover {
  color: #c3c3c3;
}

.licencias {
  font-size: 14px;
  margin-left: 15px;
}
.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.heroe {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s ease-in-out; /* agrega transición de transformación */
  cursor: pointer;
}
.heroe-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #8ab5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.heroe:hover {
  transform: scale(1.1); /* escala el elemento a un tamaño mayor al pasar el ratón por encima */
}

.heroe-image {
  height: 200px;
  overflow: hidden; /* recorta la imagen que sobresale */
}

.heroe img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  background-color: #8ab5e5;
}

.heroe-info {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.heroe-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.heroe-info p {
  margin: 0;
}
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }

  textarea {
    height: 150px;
  }

  input[type="submit"] {
    background-color: #1f2532;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #13171f;
  }
a{
  text-decoration: none;
}
.a-img:visited{
  color: #000000; /* Cambiar el color de las letras al visitar un enlace */
  text-decoration: none ; /* Eliminar el subrayado al visitar un enlace */
}
@font-face {
  font-family: "mifuente";
  src: url(../LegenddayRegular.ttf);
}
#fuente-personalizada {
  font-family: "mifuente";
  font-size: 60px;
}